version: "3.7"

services:
  redis:
    image: redis:alpine
    container_name: northstar-redis
    ports:
      - "6379:6379"
    networks:
      - northstar-net

networks:
  northstar-net:
    driver: bridge
